* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
}

article p {
	display: inline-block;
}

hr {
	background-color: #7d97ad;
	border: 0;
	height: 4px;
}

.names {
	color: #2d3c49;
	text-transform: uppercase;
	font-size: 50px;
	padding-right: 10%;
	text-align: right;
	float: right;
	min-width: calc(390px + 20%);
}

.header {
	height: 140px;
	display: flex;
}

.works {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height:400px;
}

.container {
	color: #2d3c49;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	display: flex;
	width: 100%;
	height: calc(100% - 5em);
	height: 350px;
}

.single-work {
	min-width: 310px;
	text-align: center;
	padding: 0 10px;
	height: 100%;
	padding-top: 1em;
}

.app-name{
	color: #2d3c49;
	font-size: 1.5em;
	text-transform: uppercase;
}

#name-desc {
	font-size: 0.5em;
}

.logo-container {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	height: 100%;
	padding-left: 2em;
}

#logo {
	width: 100%;
	-webkit-border-radius: 25%;
	        border-radius: 25%;
	max-width: 150px;
}

@media screen and (max-width: 720px) {
	.logo-container{
		width: 0;
		padding-left: 0;
	}
}

#name-header {
	padding-top: 0.3em;
	padding-bottom: 0.1em;
}

#main-img {
	padding: 2em;
	width: 100%;
}

#work-text {
	color: #7d97ad;
	font-size: 30px;
	padding: 1em;
}

@media screen and (max-width: 490px) {
	.names {
		font-size: 45px;
		padding-right: 100px;
		width: 100%;
	}
}



